/* --- TEXTS --- */

h1 {
    color: #F5FFFA;
    opacity: 1;
    font-family: 'Staatliches', cursive;
    font-size: 3rem;
    text-align: center;
}

h1:hover {
    color: #CBB494;
}

p {
    color: #F5FFFA;
    font-family: 'Staatliches', cursive;
    font-size: 1.1rem;
    text-align: center;
    padding: 0.5em 0.5em;
}

.link:hover {
    color: #CBB494;
}